name: Deployment pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches: [main]
    types: [opened, synchronize]

jobs:
  deployment_pipeline:
    runs-on: ubuntu-18.04
    env:
      MONGODB_URI: ${{ secrets.MONGODB_URI }}
      TEST_MONGODB_URI: ${{ secrets.TEST_MONGODB_URI }}
      SECRET: ${{ secrets.SECRET }}
      PORT: 3001
      SKIP_PREFLIGHT_CHECK: true
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: npm install
        run: npm install && cd ./client && npm install
      - name: lint
        run: npm run lint && cd ./client && npm run eslint
      - name: build
        run: cd ./client && npm run build
      - name: test
        run: npm run test && cd ./client && npm run test
      - name: e2e tests
        uses: cypress-io/github-action@v2
        with:
          start: npm run start:test
          command: cd ./client && npm run test:e2e
          wait-on: http://localhost:${{env.PORT}}